.intro {
  margin: 0 auto;
  overflow: hidden;
  background: $bg-black;
  section {
    &.visual {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      overflow: hidden;
      height: 100vh;
      img {
        width: 100%;
        height: 100vh;
      }
      h1 {
        font-size: 12vw;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        display: none;
        span {
          font-weight: bold;
          &:nth-of-type(1) {
            display: block;
            letter-spacing: -0.2rem;
            font-size: 7vw;
            -webkit-text-stroke: 0.2rem $color-gr;
            color: transparent;
          }
        }
      }
    }
    &.infoProject {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        .imgBox {
          width: 40%;
          margin-right: 10rem;
          img {
            width: 100%;
            filter: brightness(60%);
          }
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: $color-gr;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.8s;
            transition-delay: 0.4s;
            z-index: 2;
          }
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: $bg-black;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.8s;
            z-index: 3;
          }
          &.active {
            &::before {
              height: 0;
            }
            &::after {
              height: 0;
            }
          }
        }
        .textBox {
          text-align: center;
          margin-top: 50rem;
          transition: all 0.8s;
          opacity: 0;
          &.active {
            margin: 0;
            opacity: 1;
          }
          .tit {
            display: block;
            line-height: 1.6;
            color: $color-gr;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 3vw;
          }
          .txt {
            margin-bottom: 3rem;
            font-size: 2vw;
          }
        }
      }
    }
    &.concept {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        ul {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          li {
            width: 33.3%;
            &:nth-of-type(1) {
              margin-bottom: 40rem;
            }
            &:nth-of-type(3) {
              margin-bottom: -40rem;
            }
            img {
              border-radius: 2rem;
              filter: brightness(100%);
            }
          }
        }
      }
    }
    &.final {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .textBox {
        text-align: center;
        position: relative;
        width: 100%;
        .txt {
          font-size: 7vw;
          font-weight: bold;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%);
          padding: 3rem;
          width: 100%;
          background: $bg-black;
          -webkit-text-stroke: 0.2rem $color-wh;
          &.t1 {
            font-size: 8vw;
            -webkit-text-stroke: 0.2rem $color-gr;
            color: transparent;
          }
        }
        .circle {
          display: block;
          width: 25vw;
          height: 25vh;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $color-wh;
          opacity: 0;
        }
      }
    }
  }
  img {
    width: 100%;
    filter: brightness(40%);
  }
}

.backSky {
  height: 100vh;
  background: linear-gradient(to bottom, $bg-black, $bg-primary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .btn-box {
    z-index: 5;
    .baro-btn {
      border-radius: 1rem;
      background-color: $color-wh;
      color: #474853;
      font-weight: bold;
      font-size: 2rem;
      padding: 2rem 4rem;
      box-shadow: 0.8rem -0.8rem 0.4rem 0.1rem #6c6c6c;
      text-decoration: underline;
      text-underline-position: under;
      animation: blink 1s ease-in-out infinite alternate;
      &:hover {
        background: $color-gr;
      }
    }
  }
}
.sky {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -5%;
  left: 30%;
  transform: translate(-50%, 0%);
  animation: moveStar 90s linear infinite;
}
.sky2 {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -15%;
  left: 70%;
  transform: translate(-50%, 0%);
  animation: moveStar2 90s linear infinite;
}
.sky .star {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
}

.imgBox {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $color-gr;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s;
    transition-delay: 0.4s;
    z-index: 2;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $bg-black;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s;
    z-index: 3;
  }
  &.active {
    &::before {
      height: 0;
    }
    &::after {
      height: 0;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveStar {
  from {
    transform: translate(-50%, 0%) rotate(0);
  }

  to {
    transform: translate(-50%, 0%) rotate(180deg);
  }
}

@keyframes moveStar2 {
  from {
    transform: translate(-50%, 0%) rotate(180deg);
  }

  to {
    transform: translate(-50%, 0%) rotate(0);
  }
}

// 갤럭시 탭 S4 뷰포트
@media (max-width: 713px) {
  .backSky {
    &.wrap {
      .tit-box {
        .tit {
          font-size: 4rem;
        }
        .txt {
          font-size: 1.6rem;
        }
      }
    }
  }
  .concept {
    .inner {
      ul {
        gap: 6rem !important;
        flex-wrap: wrap;
        li {
          width: 80% !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .backSky {
    &.wrap {
      .tit-box {
        .tit {
          font-size: 2.6rem;
        }
        .txt {
          font-size: 1rem;
        }
      }
    }
  }
  .infoProject {
    .inner {
      flex-wrap: wrap;
      .imgBox {
        width: 80% !important;
        margin-right: 0 !important;
      }
      .textBox {
        text-align: center;
        .tit {
          font-size: 2rem !important;
        }
        .txt {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
